@model IEnumerable<ST1.Context.Coach>

@{
    ViewBag.Title = "Coaches";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Coaches</title>
</head>
<body>
    <div class="col-md-offset-3 col-md-6" border: 2px solid black">
        <p>
            @Html.ActionLink("Create New", "Create", "Coaches")
        </p>
        <table id="searchTable" class="sortable table my-table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Firstname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lastname)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Firstname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lastname)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.CoachID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.CoachID }, new { onclick = "return confirm('Do you want to delete this coach?');" })
                    </td>
                </tr>
            }

        </table>
    </div>
</body>
</html>
