@model IEnumerable<ST1.Context.Country>
@{
    ViewBag.Title = "Countries";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="color: black;">National team list</h2>
<div>
    <input class="search-bar" type="text" id="myInput" onkeyup="searchCountryByName()" placeholder="Search by country name">
</div>

<table id="searchTable" class="sortable table my-table">
    <tr>
        <th>
            Country
        </th>
        <th>
            Group
        </th>
        <th>
            Coach first name
        </th>
        <th>
            Coach last name
        </th>
        <th>
            @Html.ActionLink("Create", "Create")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CountryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grupa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coach.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coach.Lastname)
            </td>
            <td>
                @Html.ActionLink("Details", "AdminDetails", new { id = item.CountryID }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.CountryID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CountryID }, new { onclick = "return confirm('Do you want to delete this country?');" })
            </td>
        </tr>
    }

</table>
