@model IEnumerable<ST1.Context.Player>
@{
    ViewBag.Title = "Country details";
}

<h2 style="color: black;">Players list of @ViewBag.Country.CountryName</h2>
<h5><a href='javascript:history.go(-1)'>Back</a></h5>
<input class="search-bar" type="text" id="myInput" onkeyup="searchPlayerByName()" placeholder="Search by player name">
<table id="searchTable" class="sortable table my-table">
    <tr>
        <th>
            Player name
        </th>
        <th>
            Age
        </th>
        <th>
            Club
        </th>
        <th>
            Position
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Club)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
        </tr>
    }

</table>
